.staticText {
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
  margin-top: 20px;
}
/* xs */
@media (max-width: 475px) {
  .staticText {
    font-size: 0.5rem;
  }
}

@media (min-width: 475px) {
  .staticText {
    font-size: 0.6rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .staticText {
    font-size: 0.8rem;
  }
}

/* md */
@media (min-width: 768px) {
  .staticText {
    font-size: 0.9rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .staticText {
    font-size: large;
  }
}

/* xl */
@media (min-width: 1280px) {
  .staticText {
    font-size: large;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .staticText {
    font-size: large;
  }
}
